* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }

 .app_title {
	 font-weight: lighter;
     font-size: 28px;
	 color: white;
 }

.logged_as {
	color: white;
    font-size: smaller;
    font-weight: lighter;
 }


 .head_label {
	font-weight: bold;
}

.form-control {
    width: 60%;
 }

.form-group label, .form-group input {
    float: none;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
}

.list-group-item label, .list-group-item a, .list-group-item em {
    float: none;
    display: inline-block;
    vertical-align: middle;
}


 .btn-form {
	 height: 20px;
	 padding-top: 0;
	 padding-bottom: 3px;
	 padding-left: 6px;
	 font-weight: bold;
 }

#signinButton {
     margin-top: 10px;
 }

#signoutButton {
     margin-top: 10px;
 }

#result {
	 font-size: 10px;
	 color: white;
 }

#list-group-scroll {
    max-height: 343px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.flash {
	background-color: white;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}

.flash-error {
	color: tomato;
}
.flash-ok {
	color: green;
}

.flash-warn {
	color: blue;
}
label.required>span.green{ color: #06b116; }
label.required>span.orange{ color: orange; }
label.required>span.red{ color: red; }
label.required>span.black{ color: #010003; }


#list-group-scroll {
	max-height: 700px;
    margin-top: 50px;
    margin-bottom: 2px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.content {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

