{% extends "main.html" %}
{% block content %}

  <div class="row" style="background-color: rgb(200, 200, 200); height: 600px">
    <div class="col-sm-2 ">

    </div>
    <div class="col-sm-8 text-left" style="margin-top: 45px; background-color:white">
    	<div class="row content" >
        	<div class="col-sm-3" style="box-suppress:hide;">
              	<h4 class="head_label">Categories</h4>
                <div class="list-group ">
                    {% for helper_category in helper_categories: %}
                        <a href="{{url_for('show_catalog_category', category_name=helper_category.name )}}" class="list-group-item" style="color: #524f52; padding-left: 0px; padding-top: 5px; border: hidden;">{{helper_category.name}}</a>
                    {% endfor %}
                    {% for category in categories: %}
                        <a href="{{url_for('show_catalog_category', category_name=category.name )}}" class="list-group-item" style="color: red; padding-left: 0px; padding-top: 5px; border: hidden;">{{category.name}}</a>
                    {% endfor %}
  				</div>
            </div>

            <div class="col-sm-5">
                {% if ('username' in session) and not latest and not my: %}
                    <a href="{{url_for('add_item', category_name = session['last_category']) }}" class="list-group-item" style="color: red; padding-left: 0px; padding-top: 15px; border: hidden;">Add Item</a>
                {% endif %}
                {% if not latest and not my: %}
                    {% if session['count'] == 0: %}
                        <h4 class="head_label">{{active_category.name}} <em style="color: #282828; font-size: smaller; font-weight: lighter;">(no items yet)</em></h4>
                    {% elif session['count'] == 1: %}
                        <h4 class="head_label">{{active_category.name}} <em style="color: #282828; font-size: smaller; font-weight: lighter;">({{session['count']}} item)</em></h4>
                    {% else %}
                        <h4 class="head_label">{{active_category.name}} <em style="color: #282828; font-size: smaller; font-weight: lighter;">({{session['count']}} items)</em></h4>
                    {% endif %}
                {% else %}
                    <h4 class="head_label">{{active_category.name}}</h4>
                {% endif %}
                <div id="list-group-scroll" class="list-group" >
                    {% if latest %}
                        {% for item, category in active_category.category_items: %}
                            {% if session['user_id'] == item.user_id %}
                                <a href="{{url_for('show_item', item_id=item.id )}}" class="list-group-item" style="color: red; padding-left: 0px; padding-top: 5px; border: hidden;">{{item.title}} <em style="color: darkgrey; font-size: smaller; font-weight: lighter;">({{category.name}})</em><em style="color: #d17e2c; font-size: smaller; font-weight: lighter;">  My Item!</em></a>
                            {% else %}
                                <a href="{{url_for('show_item', item_id=item.id )}}" class="list-group-item" style="color: red; padding-left: 0px; padding-top: 5px; border: hidden;">{{item.title}} <em style="color: darkgrey; font-size: smaller; font-weight: lighter;">({{category.name}})</em></a>
                            {% endif %}
                        {% endfor %}
                    {% elif my %}
                        {% for item, user in active_category.category_items: %}
                            <a href="{{url_for('show_item', item_id=item.id )}}" class="list-group-item" style="color: red; padding-left: 0px; padding-top: 5px; border: hidden;">{{item.title}}</a>
                        {% endfor %}
                    {% else %}
                        {% for item in active_category.category_items: %}
                            {% if session['user_id'] == item.user_id %}
                                <a href="{{url_for('show_item', item_id=item.id )}}" class="list-group-item" style="color: red; padding-left: 0px; padding-top: 5px; border: hidden;">{{item.title}}<em style="color: #d17e2c; font-size: smaller; font-weight: lighter;">  My Item!</em></a>
                            {% else %}
                                <a href="{{url_for('show_item', item_id=item.id )}}" class="list-group-item" style="color: red; padding-left: 0px; padding-top: 5px; border: hidden;">{{item.title}}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
  				</div>
            </div>
        </div>
    </div>
  </div>


{% endblock %}


