<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>TopicModelingTool</title>

</head>

<body>
    <header></header>
    <div class="container-fluid">
        <div class="row" style="background-color: rgb(27,30,119);">
			<div class="col-sm-2" style="height: 42px"></div>
            <div class="col-sm-6"><span class="text-center app_title" >BRKCCT-2510</span></div>
        </div>
  <div class="row" style="background-color: rgb(200, 200, 200); height: 800px">
    <div class="col-sm-2 ">

    </div>
    <div class="col-sm-8 text-left" style="margin-top: 45px; background-color:white">
    	<div class="row content" >
        	<div class="col-sm-12" style="box-suppress:hide;">
              	<h3 class="head_label">APIs:</h3>
                <div class="list-group ">
                    <div class="list-group-item" style="color: #524f52; padding-left: 0px; padding-top: 5px; border: hidden;">
                        <label class='required'><span class="green">GET&nbsp&nbsp&nbsp</span></label><a href="{{url_for('get_models_json')}}">/models</a>
                        <em style="color: #282828; font-size: smaller; font-weight: lighter;">Returns JSON with all Models in the system.</em>
                        <br>
                    </div>
                    <div class="list-group-item" style="color: #524f52; padding-left: 0px; padding-top: 5px; border: hidden;">
                        <label class='required'><span class="green">GET&nbsp&nbsp&nbsp</span></label><a href="{{url_for('get_model_json', model_id=1)}}">/model/&lt;int: model_id&gt;</a>
                        <em style="color: #282828; font-size: smaller; font-weight: lighter;">Returns JSON with details about Model specified with <b>model_id</b>.</em>
                        <br>
                    </div>
                    <div class="list-group-item" style="color: #524f52; padding-left: 0px; padding-top: 5px; border: hidden;">
                        <label class='required'><span class="orange">POST&nbsp&nbsp&nbsp</span> /model/&lt;int: model_id&gt;/inference</label>
                        <em style="color: #282828; font-size: smaller; font-weight: lighter;">Runs the inference operation using Model specified <b>model_id</b> over the text defined in body with <b> 'Content-Type' = 'text/plain;charset=UTF-8'</b>, saves the text and results into Inference object, that is then returned in JSON.</em>
                        <br>
                    </div>
                    <div class="list-group-item" style="color: #524f52; padding-left: 0px; padding-top: 5px; border: hidden;">
                        <label class='required'><span class="green">GET&nbsp&nbsp&nbsp</span></label><a href="{{url_for('get_model_inferences', model_id=1)}}">/model/&lt;int: model_id&gt;/inferences</a>
                        <em style="color: #282828; font-size: smaller; font-weight: lighter;">Returns JSON with details about all Inferences for the Model specified with <b>model_id</b>.</em>
                        <br>
                    </div>
                    <div class="list-group-item" style="color: #524f52; padding-left: 0px; padding-top: 5px; border: hidden;">
                        <label class='required'><span class="green">GET&nbsp&nbsp&nbsp</span></label><a href="{{url_for('get_inference', model_id=1, inference_id=1)}}">/model/&lt;int: model_id&gt;/inference/&lt;int: inference_id&gt;</a>
                        <em style="color: #282828; font-size: smaller; font-weight: lighter;">Returns JSON with details about Inference specified with <b>inference_id</b> of the Model specified with <b>model_id</b>.</em>
                        <br>
                    </div>
                    <div class="list-group-item" style="color: #524f52; padding-left: 0px; padding-top: 5px; border: hidden;">
                        <label class='required'><span class="red">DELETE&nbsp&nbsp&nbsp</span> /model/&lt;int: model_id&gt;/inference/&lt;int: inference_id&gt;</label>
                        <em style="color: #282828; font-size: smaller; font-weight: lighter;">Delete Inference specified with <b>inference_id</b> of the Model specified with <b>model_id</b> and returns confirmation as JSON.</em>
                        <br>
                    </div>
                    <div class="list-group-item" style="color: #524f52; padding-left: 0px; padding-top: 5px; border: hidden;">
                        <label class='required'><span class="green">GET&nbsp&nbsp&nbsp</span></label><a href="{{url_for('topic_json', model_id=1, topic_number=1)}}">/model/&lt;int: model_id&gt;/topic/&lt;int: topic_number&gt;</a>
                        <em style="color: #282828; font-size: smaller; font-weight: lighter;">Returns JSON with details about Topic specified with <b>topic_number</b> of the model specified with <b>model_id</b>.</em>
                        <br>
                    </div>
                    <div class="list-group-item" style="color: #524f52; padding-left: 0px; padding-top: 5px; border: hidden;">
                        <label class='required'><span class="orange">POST&nbsp&nbsp&nbsp</span> /model/&lt;int: model_id&gt;/topic/&lt;int: topic_number&gt;</label>
                        <em style="color: #282828; font-size: smaller; font-weight: lighter;">Updates Topic specified with <b>topic_number</b> of the model specified with <b>model_id</b>. Sets <b>alias</b> and/or <b>action</b> attributes specified in JSON body <b>{"alias":"...", "action":"..."}</b> and returns updated Topic as JSON.</em>
                        <br>
                    </div>
  				</div>
              	<h3 class="head_label">ADMIN:</h3>
                <div class="list-group ">
                    <div class="list-group-item" style="color: #524f52; padding-left: 0px; padding-top: 5px; border: hidden;">
                        <label class='required'><span class="black">Edit Topic Web Page URL:&nbsp&nbsp&nbsp</span></label><a href="{{url_for('edit_topics', model_id=1)}}">/model/&lt;int: model_id&gt;/edit_topics</label>
                        <em style="color: #282828; font-size: smaller; font-weight: lighter;">UI that allows looking into topic details and editing topic alias and action attributes.</em>
                        <br>
                    </div>
  				</div>

            </div>
        </div>
    </div>
  </div>
		<div class="row" >
			<div class="col-sm-2">

			</div>
			<div class="col-sm-8">
				<div class = 'flash'>
		      	{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
        			<ul>
        				{% for class, message in messages %}
            			<li class="{{class}}">{{ message }}</li>
        				{% endfor %}
        			</ul>
        		{% endif %}
    			{% endwith %}
				</div>
			</div>
			<div class="col-sm-2 " >

			</div>
		</div>
    </div>
    <div></div>
</body>

</html>