{% extends "main.html" %}
{% block content %}

<div class="row" style="background-color: rgb(200, 200, 200); height:500px">
    <div class="col-sm-2 "></div>
    <div class="col-sm-8 text-left" style="margin-top: 45px; background-color:white">
    	<div class="row content" style="padding-left: 0px; padding-top: 5px; padding-bottom: 25px;" >
        	<div class="col-sm-6" style="box-suppress:hide;">
              	<h4 class="head_label">{{item.title}}</h4>
                <small class="text-left" style="color : #797072;" >{{item.description}}</small>
            </div>

        </div>
        <div class="row content" style="padding-left: 0px; padding-top: 5px; padding-bottom: 25px;" >

            <div class="col-sm-6" style="box-suppress:hide;">
                <a href="{{url_for('show_catalog_category', category_name = session['last_category'] )}}" style="color: #524f52; padding-left: 0px; padding-top: 5px;">Back to Catalog</a>
                {% if session['user_id'] == item.user_id %}
                <small>|</small>
                <a href="{{url_for('edit_item', item_id=item.id )}}" style="color: red; padding-left: 0px; padding-top: 5px;">Edit</a>
                <small>|</small>
                <a href="{{url_for('delete_item', item_id=item.id )}}" style="color: red; padding-left: 0px; padding-top: 5px;">Delete</a>
                {% endif %}
            </div>
        </div>
  </div>
</div>

{% endblock %}
