<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="ErMSlS6z1EDXxoTCrZ-sgVDzJaW_qNYujyhoIu3pTuQ" />


  	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN AS WELL AS JQUERY -->
   	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//apis.google.com/js/platform.js?onload=start"> </script>
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>Catalog App</title>

</head>

<body>
    <header></header>
    <div class="container-fluid">
        <div class="row" style="background-color: rgb(27,30,119);">
			<div class="col-sm-2" style="height: 52px"></div>
            <div class="col-sm-6"><span class="text-center app_title" >Catalog App</span></div>
			{% if 'username' not in session: %}
			<div class="col-sm-2 offset-xl-0 text-right align-self-center" >
				<div id="signinButton" >
					<span class="g-signin"
						  data-scope="openid email"
						  data-clientid="312358317324-ecf83e935jebkvuih7smdgqlnm4r3c03.apps.googleusercontent.com"
						  data-redirecturi="postmessage"
						  data-accesstype="offline"
						  data-cookiepolicy="single_host_origin"
						  data-callback="signInCallback"
						  data-approvalprompt="force">
					</span>
				</div>
			</div>
			{% else %}
			<div class="col-sm-2 offset-xl-0 text-right align-self-center" >
				<div>
					<a href = '{{url_for('gdisconnect')}}'>
						<button id="signoutButton" class="btn btn-md btn-danger" type="button">
						</span> Sign out <span class="glyphicon glyphicon-log-out" aria-hidden="true"></button>
					</a>
				</div>
			</div>
			{% endif %}
			<div class="col-sm-2">
				{% if 'username' not in session: %}
				<div id="result"></div>
				{% else %}
				<div class="logged_as" >Signed in as: {{session['username']}}</div>
				{% endif %}
			</div>
        </div>
        {% block content %}
        {% endblock %}
		<div class="row" >
			<div class="col-sm-2">

			</div>
			<div class="col-sm-8">
				<div class = 'flash'>
		      	{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
        			<ul>
        				{% for class, message in messages %}
            			<li class="{{class}}">{{ message }}</li>
        				{% endfor %}
        			</ul>
        		{% endif %}
    			{% endwith %}
				</div>
			</div>
			<div class="col-sm-2 " >

			</div>
		</div>
    </div>
    <div></div>

	<script>
	function signInCallback(authResult) {
	  if (authResult['code']) {

		// Hide the sign-in button now that the user is authorized
		$('#signinButton').attr('style', 'display: none');
		  $('#result').html('Signing in...');

		// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
		$.ajax({
		  type: 'POST',
		  url: '/gconnect?state={{session["session_code"]}}',
		  processData: false,
		  data: authResult['code'],
		  contentType: 'application/octet-stream; charset=utf-8',
		  success: function(result) {
			// Handle or verify the server response if necessary.
			if (result) {
			  $('#result').html('Redirecting...')
			 setTimeout(function() {
			  		window.location.href = "/catalog";
			 }, 4000);
		  } else if (authResult['error']) {

		console.log('There was an error: ' + authResult['error']);
	  } else {
			$('#result').html('Login failed.');
			 }
		  }

	  }); } }
	</script>


</body>

</html>